<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Личный кабинет</title>
   {% load static %}

   <link href="{% static 'CSS/styles.css' %}" rel="stylesheet" />

</head>
<body>

  <!-- Навигационная панель -->
  <nav class="navbar">
    <a href="#">Мини-игры</a>
    <a href="#">Квизы</a>

    <a href="/miniapp/user/">Профиль</a>
    <a href="/miniapp/benefits/">Бонусы</a>
    <a href="/miniapp/user/">Список пользователей</a>
    <a href="/accounts/login/">Логин</a>
    <a href="/accounts/signup/">Регистрация</a>
    <a href="/accounts/oauth/">oauth</a>


  </nav>

</body>

<body>

{% block user_box %} {% endblock %}
{% block user_list %} {% endblock %}
{% block signout %} {% endblock %}
{% block benefits %} {% endblock %}
{% block login %} {% endblock %}
{% block signup  %} {% endblock %}
{% block 403 %} {% endblock %}

</body>
</html>

