<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Where Can We Take You?</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <h1>WHERE CAN WE TAKE YOU?</h1>
        <div class="menu">
            <button onclick="location.href='#о нас';"><img src="logo.png" alt="О нас"></button>
            <button onclick="location.href='#все';"><span>ВСЕ</span></button>
            <button onclick="location.href='#избранное';"><span>ИЗБРАННОЕ</span></button>
            <button onclick="location.href='#книги';"><span>КНИГИ</span></button>
            <button onclick="location.href='#маршруты';"><span>МАРШРУТЫ</span></button>
        </div>
        <hr>
        <div id="о нас" class="section">
            <h2>МОСКВА СЕДЗАМ</h2>
            <h4>НЕ ВЕРИТ</h4>
            <p>Зрители помнят сцену из фильма где поэт А.А. Вознесенский читает стихи советских авторов у памятника Владимиру Маяковскому.</p>
        </div>
        <div id="все" class="section">
            <h2>МОСКВА СЕДЗАМ</h2>
            <h4>НЕ ВЕРИТ</h4>
            <p>Зрители помнят сцену из фильма где поэт А.А. Вознесенский читает стихи советских авторов у памятника Владимиру Маяковскому.</p>
        </div>
        <div id="избранное" class="section">
            <h2>МОСКВА СЕДЗАМ</h2>
            <h4>НЕ ВЕРИТ</h4>
            <p>Зрители помнят сцену из фильма где поэт А.А. Вознесенский читает стихи советских авторов у памятника Владимиру Маяковскому.</p>
        </div>
        <div id="книги" class="section">
            <h2>МОСКВА СЕДЗАМ</h2>
            <h4>НЕ ВЕРИТ</h4>
            <p>Зрители помнят сцену из фильма где поэт А.А. Вознесенский читает стихи советских авторов у памятника Владимиру Маяковскому.</p>
        </div>
        <div id="маршруты" class="section">
            <h2>МОСКВА СЕДЗАМ</h2>
            <h4>НЕ ВЕРИТ</h4>
            <p>Зрители помнят сцену из фильма где поэт А.А. Вознесенский читает стихи советских авторов у памятника Владимиру Маяковскому.</p>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>