<style>

body {
        height: 100vh;
        font-family: Georgia, serif;  /* Шрифт остался */
        margin: 0;
        padding-bottom: 50px;
        padding-top: 50px;
        background-color: #FFE5CC;  /* Новый цвет фона */

    }


.container {
    width: 20%;
    margin: 50px auto;
    background-color: #D3D3D3;
    border: 1px solid #cccccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.header {
    background-color: #D3D3D3;
    padding: 20px;
    text-align: center;

}


.content {
    padding: 20px;
    font-size: 16px;
    line-height: 1.6;

}

.navbar a {
  text-decoration: none; /* Убираем подчеркивание ссылок */
  color: inherit; /* Наследуем белый цвет текста */
  padding: 10px 15px; /* Внутренний отступ вокруг ссылок */
  transition: background-color 0.3s ease-in-out; /* Плавная анимация фона */
}

.navbar a:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Подсветка при наведении */
}

/* Навигационная панель */
.navbar {
  gap: 20px;
  position: fixed; /* Фиксируем позицию */
  bottom: 0; /* Закрепляем внизу экрана */
  left: 0;
  right: 0;
  width: 100%; /* Ширина панели на всю ширину экрана */
  height: 50px; /* Высота панели */
  background-color: #762B2B; /* Цвет панели */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: white;
}
.navbar-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    padding: 10px 20px;
}
.navbar-menu {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-menu li {
    margin-left: 20px;
}

.navbar-menu a {
    text-decoration: none;
    color: #343a40;
    font-size: 16px;
}

.navbar-menu a:hover {
    color: #007bff;
}
.uppernavbar {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    top: 0;
    width: 50%;
    z-index: 100;
    margin: 0 auto;
}

.relativenavbar {

    display: flex;
    justify-content: center;
    align-items: center;
    }

 .relativenavbar a {
            margin: 0 15px;
            text-decoration: none;
            color: #333;

        }


.nav-item {
    width: 10%; /* Ширина каждого квадрата */
    height: 50px; /* Высота квадрата */
    background-color: #fff; /* Цвет фона квадрата */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #ccc; /* Рамка вокруг квадрата */
}

.nav-link {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #333;
}

.nav-link img {
    width: 50px; /* Ширина изображения */
    height: auto;
    border-radius: 50%; /* Круглые изображения */
}

.nav-link:hover img {
    transform: scale(1.1); /* Увеличение изображения при наведении */
    transition: transform 0.3s ease;
}

</style>